* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins Light";
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.title-pricing {
  font-family: "Poppins Bold";
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.text-below {
  color: #333;
  font-size: 12px;
  margin-bottom: 1rem;
}

.cards-plan {
  width: 100%;
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.card-basic,
.card-proffesional,
.card-custom {
  position: relative;
  min-width: 16rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h3 {
  margin-top: 1.5rem;
}

.card-custom {
  color: #fff;
  background: linear-gradient(to right, #9966ff, #ff66cc);
}

.option-item {
  font-size: 12px;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 0;
}

.card-optionitem {
  margin: 1rem 0;
  height: 100%;
}

.price-table {
  margin: 1rem 0;
}

.price {
  font-size: 3rem;
  font-family: "Poppins Bold";
}

.button-pricing {
  background: #fff;
  border: none;
  width: 100%;
  padding: 0.6rem;
  margin-top: 2rem;
  outline: 2px solid #304ffe;
  color: #304ffe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.button-pricing:hover {
  background-color: #304ffe;
  color: #fff;
}

.button-custom {
  outline: none;
  color: #ea80fc;
}

.button-custom:hover {
  color: #fff;
  background: linear-gradient(to right, #732dff, #ff45c1);
}

.navigation {
  position: relative;
  background-color: #fff;
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text-navigation {
  z-index: 100;
  cursor: pointer;
}
.price {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.date {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.monthly {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.annually {
  color: #000;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.right-side {
  transform: translateX(105%);
}

.plan-color {
  color: #fff;
}

.button-navigation {
  position: absolute;
  left: 5px;
  top: 5%;
  width: 9.5rem;
  height: 90%;
  background-color: #304ffe;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

hr {
  opacity: 0.2;
}

.bg-left {
  z-index: -1;
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: -200px;
  bottom: 0;
  background-color: #9966ff;
  filter: blur(80px);
  -webkit-filter: blur(80px);
  opacity: 0.3;
}

.bg-center {
  z-index: -1;
  width: 30rem;
  height: 38rem;
  position: absolute;
  left: 260px;
  bottom: -150px;
  background-color: #ea80fc;
  filter: blur(80px);
  -webkit-filter: blur(80px);
  opacity: 0.5;
}

.bg-right {
  z-index: -1;
  width: 20rem;
  height: 20rem;
  position: absolute;
  right: -210px;
  bottom: -34px;
  background-color: #9966ff;
  filter: blur(80px);
  -webkit-filter: blur(80px);
  opacity: 0.3;
}

/* Responsive */

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .cards-plan {
    padding: 2rem 2rem;
    max-width: 40rem;
    flex-wrap: wrap;
  }

  .bg-left {
    left: -200px;
    min-height: 90%;
  }

  .bg-center {
    left: 10px;
    height: 90%;
  }

  .bg-right {
    right: -200px;
    height: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .cards-plan {
    padding: 2rem 2rem;
    justify-content: center;
  }

  .card-basic,
  .card-proffesional,
  .card-custom {
    width: 80%;
  }

  .price-table {
    text-align: center;
  }

  .title-card {
    text-align: center;
    margin: 1rem 0;
  }

  h1.title-pricing {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .title-pricing {
    text-align: center;
  }

  .cards-plan {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-basic,
  .card-proffesional,
  .card-custom {
    width: 100%;
  }

  .bg-left {
    min-height: 80%;
  }

  .bg-center {
    left: -100px;
    height: 80%;
  }

  .bg-right {
    height: 80%;
  }
}
